<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="es.fnavarro.mediasync.mappers.ConfigMapper">

	<select id="getProperty" parameterType="map" resultType="String">
		select value
		from CONFIG
		where id = #{property}
		order by id
	</select>
	
	<insert id="updateProperty" parameterType="map">
		update CONFIG
		set value = #{value}
		where id = #{property}
	</insert>
	
	<update id="insertProperty" parameterType="map">
		insert into CONFIG
		(id, value)
		values		
		(#{property},#{value})
	</update>
	
</mapper>