<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="es.fnavarro.mediasync.mappers.FileMapper">

	<select id="list" parameterType="map" resultType="File">
		SELECT * FROM FILES
			<if test="status!=null">
					WHERE STATUS = #{status}
			</if>					
	</select>
	
	<insert id="add" parameterType="map">
		INSERT INTO FILES (NAME, PATH, SIZE, SAVED, DISCARDED, DATE_CREATED, STATUS)
		   VALUES(#{file.name}, #{file.path} , #{file.size}, 0, 0, CURRENT_TIMESTAMP, 'PENDING')
	</insert>
	
	<update id="changeStatus" parameterType="map">
		UPDATE FILES
			SET STATUS = #{status}
		WHERE ID=#{id}	
	</update>

</mapper>