@color_lightblue: #52b9e9;
@color_blue: #1171a3;
@color_success: #43c83c;
@color_warning: #f88529;
@color_important: #fa3031;
@color_violet: #932ab6;

* {
    /*-webkit-box-shadow: none !important;
    -ms-box-shadow: none !important;
    box-shadow: none !important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
    -webkit-text-shadow: none !important;
    -ms-text-shadow: none !important;
    text-shadow: none !important;*/
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    /*font-weight: 400;*/
}

.btn, .badge, .modal, .modal-dialog, .modal-content,
input, select {
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}

input, select {
    padding: 4px !important;
    /*width: 65% !important;*/
    display: inline-block !important;
}


.navbar * {
    background-image: none !important;
    -webkit-text-shadow: none !important;
    -ms-text-shadow: none !important;
    text-shadow: none !important;
}

form * {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

input, textarea {
    background-image: none !important;
    border: 1px solid #ccc !important;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

select {
    font-size: 13px !important;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0 0 0 !important;
    margin-right: 5px !important;
    line-height: 23px !important;
    border: 0 !important;
}

.btn {
    background-image: none !important;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 13px !important;
}
.btn.btn-form-md {
    margin: 0 .5em .2em .5em;
    width: 9em;
}
    .btn.btn-mini {
        font-size: 11px !important;
    }

body {
    font-size: 13px;
    line-height: 23px;
    color: #666;
    background: #111;
    padding-top: 45px;
    -webkit-font-smoothing: antialiased;
}

    body .container {
        width: 97%;
        padding-left: 1.5%;
        padding-right: 1.5%;
    }

h1, h2, h3, h4, h5, h6 {
    padding: 2px 0;
    margin: 2px 0;
    color: #777;
    font-weight: 400;
}

h2 {
    font-size: 30px;
    line-height: 40px;
}

h3 {
    font-size: 23px;
    line-height: 33px;
}

h4 {
    font-size: 20px;
    line-height: 30px;
}

h5 {
    font-size: 18px;
    line-height: 28px;
}

h6 {
    font-size: 15px;
    line-height: 25px;
}

p {
    padding: 1px 0 !important;
    margin: 1px 0 !important;
}

a {
    color: #ddd;
    text-decoration: none !important;
}

.main-panel {
    float: right;
}

/*#endregion */
